.app{

  

}

.header{

  display: inline-block;
  flex-direction: row;
}

.left{
  padding-left: 10px;
  justify-content: center;
  justify-items: center;
  width: 100px;
  height: 50px;

  display: inline-block;

}


.middle{
  
  top:'50%';

  justify-content: center;
  justify-items: center;
  width: 60px;
  height: 50px;

  padding-right:15px;
  display: inline-block;
  right: 0;

}
.im{
  padding-top: 5px;

}
.name{
  padding-top: 10px;
}

.righ{
  width: 100px;
  height: 50px;

  display: inline-block;



  /* floating it to right */ 
  right:0;


  /* ////////////// */

}