.app{

  

}

.header{

  display: inline-block;
  flex-direction: row;
}

.left{
  padding-left: 10px;
  justify-content: center;
  justify-items: center;
  width: 150px;
  height: 50px;

  display: inline-block;

}


.middle{
  
  top:'50%';

  justify-content: center;
  justify-items: center;
  width: 100px;
  height: 50px;

  padding-right:10px;
  display: inline-block;
  right: 0;

}
.im{
  display: inline-block;
  
}
.name{

  top:0;
  display: inline-block;
  padding-left: 10px;
}

.righ{
  padding-left: 0px;
  justify-items: center;
  justify-content: center;
  padding-top: 15px;
  width: 100px;
  height: 50px;

  display: inline-block;



  /* floating it to right */ 
  right:0;


  /* ////////////// */

}


.screen {
  display: 'flex';
  flex-direction: 'row';
}

.sleft {
  width: '20%';
  background-color: rgb(209, 190, 165);
}
.sright {
  width: '80%';
  background-color: rgb(70, 62, 51);
}